.informationWrap {
  width: 100%;
  background-color: #ebedf3;
  padding-top: 126px;
  padding-bottom: 270px;
  overflow: hidden;
  position: relative;
}
.informationArea {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}
.informationArea a {
  padding-bottom: 10px;
  border-bottom: solid 3px #d50000;
}

h2 {
  text-align: center;

  padding-bottom: 170px;
}
h3 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.flower01 {
  left: -3%;
  width: 25%;
  top: 100px;
  position: absolute;
}
.flower01 img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-left: 10px;
}
.flower02 {
  position: absolute;
  right: -2%;
  top: 28%;
  width: 25%;
  /*margin-right: 30px;*/
}
.flower02 img {
  width: 100%;
  max-width: 400px;
  height: auto;
}
@media screen and (max-width: 1200px) {
  .flower01 {
    left: -4%;
  }
}
@media screen and (max-width: 767px) {
  .informationWrap {
    padding-top: 0;
    padding-bottom: 100px;
  }
  h2 {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 50px;
  }
  .flower01 {
    width: 30%;
    top: 20%;
  }
  .flower02 {
    width: 30%;
    top: 30%;
  }
}
@media screen and (max-width: 500px) {
  .flower02 {
    top: 45%;
  }
  .informationArea dl {
    margin-left: 80px;
  }
}
