header {
  position: relative;
}
.siteHeader__gNavi {
  width: auto;
  overflow-y: scroll;
}
.siteHeader__gNaviList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 0 15px 10px;
  font-size: 1.4rem;
  list-style: none;
}
.siteHeader__gNaviList {
  overflow-y: scroll;
}
.siteHeader__gNaviList > li {
  margin-left: 15px;
  margin-top: 20px;
}
.siteHeader__gNaviList li:nth-child(1) {
  margin-top: 50px;
}
.siteHeader__gNaviHook {
  display: none;
}
.siteHeader__gNaviHook {
  display: block;
}
.siteHeader__gNaviBtn {
  position: absolute;
  top: 44px;
  right: 10px;
  width: 52px;
  height: 52px;
  border: none;
  z-index: 150;
  position: fixed;
}
.siteHeader__gNaviBtn > span {
  display: block;
  position: absolute;
  margin-left: -10px;
  top: 48%;
  left: 50%;
  width: 35px;
  height: 2px;
  overflow: hidden;
  background: #262626;
  transition: all 0.3s;
}
.siteHeader__gNaviBtn::before,
.siteHeader__gNaviBtn::after {
  display: block;
  position: absolute;
  content: "";
  margin-left: -10px;
  top: 48%;
  left: 50%;
  width: 35px;
  height: 2px;
  background: #262626;
  transition: all 0.3s;
}
.siteHeader__gNaviBtn::before {
  margin-top: -12px;
}
.siteHeader__gNaviBtn::after {
  margin-top: 12px;
}
.is-gNaviBtn-active {
  position: fixed;
}
.is-gNaviBtn-active > span {
  opacity: 0;
}
.is-gNaviBtn-active::before {
  margin-top: 0;
  transform: rotate(45deg);
  background: #fff;
}
.is-gNaviBtn-active::after {
  margin-top: 0;
  transform: rotate(-45deg);
  background: #fff;
}
.siteHeader__gNaviList {
  position: fixed;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 53px 0 0 0;
  top: 0;
  right: -300px;
  width: 280px;
  height: 100%;
  background: #262626;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all 0.3s;
  z-index: 50;
}
@media screen and (max-width: 767px) {
  .siteHeader__gNaviList {
    overflow-y: scroll;
  }
}
.siteHeader__gNaviList img {
  max-width: 30px;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.siteHeader__gNaviList > li {
  margin-left: 0;
}

.siteHeader__gNaviList02 li:nth-of-type(1) {
  margin-top: 420px;
}

.siteHeader__gNaviList a {
  display: block;
  padding: 18px 50px;
  font-size: 2rem;
}

.is-gNavi-open {
  right: 0;
}
.siteHeader__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 49;
}
.is-overlay-active {
  display: block;
}
.is-body-scroll-off {
  overflow: hidden;
}
main {
  overflow: hidden;
}

h1 {
  text-align: center;
  padding-top: 40px;
  border-top: solid 1px #444;
  margin-bottom: 80px;
}
p {
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.9;
  letter-spacing: 0.1em;
  white-space: normal;
  color: #222;
}

h2 {
  font-family: dnp-shuei-mincho-pr6, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #3c3c3c;
  font-size: 4rem;
}
a {
  color: #3c3c3c;
  font-family: dnp-shuei-mincho-pr6, sans-serif !important;
  font-style: normal;
}

footer {
  width: 100%;
  height: auto;
  background-color: #222222;
  color: #fff;
  padding-bottom: 20px;
  text-align: center;
  z-index: 11;
}
footer ul {
  display: flex;
  justify-content: center;
  gap: 45px;
}
li a {
  color: #fff;
}

.iconArea img {
  margin-top: 77px;
  max-width: 30px;
  width: 100%;
  padding-bottom: 10px;
}
.navigationWrap02 {
  margin-top: 55px;
  font-size: 20px;
}
.siteHeader__gNaviList li:nth-last-child(1) {
  padding-bottom: 100px;
}
.copy {
  margin-top: 37px;
  font-size: 20px;
  color: #fff;
}
.viewMore {
  border-bottom: solid 2px #222;
  padding-bottom: 8px;
  margin-bottom: 64px;
  display: inline-block;
  margin-left: 0;
  white-space: nowrap;
  font-size: 19px;
  z-index: 5;
  font-family: dnp-shuei-mincho-pr6, sans-serif;
  font-style: normal;
  font-weight: 400;
}
li a:hover {
  opacity: 0.7;
}
a:hover {
  opacity: 0.7;
}
dl a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  p {
    font-size: 1.4rem;
    letter-spacing: 0.2em;
  }
  .iconArea img {
    margin-top: 20px;
  }
  .navigationWrap02 {
    margin-top: 20px;
  }

  footer ul {
    gap: 50px;
    padding-top: 20px;
  }
  footer ul li {
    font-size: 1.5rem;
  }
  footer .copy {
    font-size: 1.7rem;
  }
  .viewMoreWrap {
    margin-top: 40px;
  }
}
@media screen and (max-width: 600px) {
  footer ul li {
    font-size: 1.1rem;
  }
  footer .copy {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 520px) {
  .sp {
    display: block;
  }
  .iconArea {
    gap: 50px;
  }
  .iconArea img {
    width: 20px;
  }
  footer ul {
    gap: 15px;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    margin-bottom: 25px;
  }
  .logo img {
    max-width: 120px;
    height: auto;
  }
}
